node_modules
npm-debug.log
.env
.env.production
.env.development
.git
.gitignore
.github
README.md
DOCKER.md
.DS_Store
.vscode
.idea
logs
errors
.prettier*
.eslint*
drizzle/
dist
build
coverage
.env.local
.env.*.local
scripts/
